<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% if page.title %} {{ page.title }} - {% endif %}Society of Villainous Chaps [SoVC]</title>
	<link rel="stylesheet" href="/static/CSS/Web.css" type="text/css" media="screen" />
	<meta charset="UTF-8" />
</head>

<body>

<div id="ContainerSidebar">
	<header>
		<h1>[So<span class="ColourOrange">VC</span>]</h1>
		<h2>Society of <span class="ColourOrange">Villainous Chaps</span></h2>
		
		<ul>
			<li><a href="/">&raquo; Home</a></li>
			<li><a href="/about">&raquo; About</a></li>
			<li><a href="/games">&raquo; Games</a></li>
			<li><a href="/roster">&raquo; Roster</a></li>
			<li><a href="https://webchat.quakenet.org/?channels=sovc">&raquo; Chat</a></li>
			<li><a href="/contact">&raquo; Contact</a></li>
		</ul>
	</header>
</div>
<div id="ContainerContent">
{{ content }}
</div>

</body>

</html>